<!DOCTYPE html>

<html lang="en" theme="light">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <!-- Primary Meta Tags -->
    <title>LiveSoccer - open-source live football standing</title>
    <meta property="theme-color" content="#561bff" />
    <meta name="language" content="FA" />
    <meta name="Classification" content="Football" />
    <meta name="subject" content="The Open-Source Live Football Standing" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="The Open-Source Live Football Standing" />
    <meta name="keywords" content="open-source, live football standing, Football, LiveSoccer, Soccer, football standing" />
    <meta name="author" content="LiveSoccer" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://livesoccer.herokuapp.com/">
    <meta property="og:title" content="LiveSoccer" />
    <meta property="og:description" content="The Open-Source Live Football Standing" />
    <meta property="og:image" content="https://livesoccer.herokuapp.com/image/cover.png" />

    <!-- Twitter -->
    <meta property="twitter:card" value="summary_large_image" />
    <meta property="twitter:url" content="https://livesoccer.herokuapp.com/image/cover.png">
    <meta property="twitter:title" content="LiveSoccer" />
    <meta property="twitter:description" content="The Open-Source Live Football Standing" />
    <meta property="twitter:image" content="https://livesoccer.herokuapp.com/image/cover.png" />

    <link rel="icon" href="/image/favicon.png"/>
    <link rel="stylesheet" href="/css/main.css?v=1.0.0">
    <script src="https://kit.fontawesome.com/fdbc6c58ce.js" crossorigin="anonymous"></script>
</head>
<body>

<div id="themeSwitch">
    <i class="fas fa-sun themeSwitchIcon"></i>
</div>

<a id="github" href="https://github.com/im-parsa/livesoccer" target="_blank">
    <i class="fab fa-github"></i>
</a>

<div class="container">
    <div class="comp-select"></div>

    <div class="comp-title">
        <img src="" class="comp-flag" alt="">
        <h1 class="comp-name"></h1>
    </div>

    <div class="comp-table-container">

        <table class="comp-table">

            <thead>
            <tr class="comp-table-header">
                <th class="rank">#</th>
                <th class="team">Team</th>
                <th class="played">P</th>
                <th class="won">W</th>
                <th class="drawn">D</th>
                <th class="lost">L</th>
                <th class="for">+</th>
                <th class="against">-</th>
                <th class="difference">+/-</th>
                <th class="points">P</th>
            </tr>
            </thead>

            <tbody class="comp-table-body"></tbody>

        </table>

    </div>

    <div class="comp-loading">
        loading...
        <br/>
        <img src="/image/loader.gif" alt="">
    </div>

    <div class="copyright">
        <h2>
            LiveSoccer a product of <a href="https://parsa-firoozi.ir/">im-parsa</a>.
        </h2>
    </div>
</div>

<script  src="/js/script.js?v=1.0.0"></script>

</body>
</html>
